{% extends "base.html" %}
{% block body %}
    <form action="" method="POST">
        <div>
            标题：<input type="text" name="title"/>
        </div>
        <div>
            内容：<textarea name="content" id="" cols="30" rows="10"></textarea>
        </div>
        <div>
            <button type="submit" class="myButton">
                Submit
            </button>
            <button type="reset" class="myButton">
                Cancel
            </button>
        </div>
    </form>

    <a href="/list">
        返回列表
    </a>

{% endblock %}
