{% extends "base.html" %}


{% block body %}

    <h1>
        {{ post.title }}
    </h1>

    <p>
        {{ post.name }} 发布于 {{ post.time }}
    </p>

    <p>
        {{ post.content }}
    </p>

    <a href="/">
        返回列表
    </a>

    {% if g.authedUser != None and g.authedUser.user_type==1 %}

        <form action="" method="post">
            <input type="hidden" value="delete" name="action">
            <button style="margin-left: 4px;">
                删除本帖
            </button>
        </form>

    {% endif %}

{% endblock %}
