{% extends "base.html" %}


{% block body %}

    <h1>
        {{ post.title }}
    </h1>

    <h5 style="opacity: 0.6">
        {{ post.name }} 发布于 {{ post.time }}
    </h5>

    <p style="font-size: 20px;line-height: 1.2em">
        {{ post.content }}
    </p>

    <a class="btn btn-primary" href="/">
        返回
    </a>

    {% if g.authedUser != None and g.authedUser.user_type==1 %}

        <form action="" method="post">
            <input type="hidden" value="delete" name="action">
            <button style="margin-left: 4px;">
                删除本帖
            </button>
        </form>

    {% endif %}

{% endblock %}
