{% extends "base.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block body %}


    <h3>
        {% if(g.authedUser!=None) %}
            You are logged in as {{ g.authedUser.name }}
        {% else %}
            Hello, guest
        {% endif %}
    </h3>

    <a href="/form">New Post</a>


    {% if g.authedUser == None %}
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Register</a>
    {% endif %}

    {% if g.authedUser != None %}
        <a href="/logout">Logout</a>
    {% endif %}

    <hr>


    <ol>
        {% for item in list %}
            <li>
                <a href="/item/{{ item.id }}">{{ item.title }}</a>

                <span>{{ item.time }}</span>

                {% if g.authedUser != None and g.authedUser.user_type==1 %}
                    <form action="" method="post">
                        <input type="hidden" value="{{ item.id }}" name="delete">
                        <button style="margin-left: 4px;">
                            X
                        </button>
                    </form>
                {% endif %}

            </li>
        {% endfor %}
    </ol>
{% endblock %}
