{% extends "base.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block body %}

    <h1>
        Welcome {% if(g.authedUser!=None) %}{{ g.authedUser.name }}{% endif %}!
    </h1>


    {% if g.authedUser == None %}
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Register</a>
    {% endif %}

    {% if g.authedUser != None %}
        <a href="/logout">Logout</a>
    {% endif %}

    <hr>

    <a href="/list">List</a>
    <a href="/form">New Post</a>


{% endblock %}
