{% extends "base.html" %}
{% block body %}

    <form action="" method="POST">

        <div>
            Username:
            <input type="text" name="username" placeholder="至少4个字">
        </div>
        <div>
            Password:
            <input type="password" name="password" placeholder="至少6个字">
        </div>
        <div>
            Repeat:
            <input type="password" name="password-repeat" placeholder="重复输入">
        </div>

        <div>
            <button type="submit">提交</button>
        </div>

    </form>
{% endblock %}
